@import "_partials/_base";

body {
  background-color: #282C34;
  color: #FFF;
}

.container {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.typing-container {
  width: 100%;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  overflow: auto;
  padding: 10px;
}

.typing-area {
  min-height: 150px;
  outline: none;
  filter: none;
  transition: filter 0.3s ease;
  &.unfocused {
    filter: blur(1px);
    transition: filter 0.3s ease;
  }
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}