@import "_partials/_base";

body {
  background-color: #282C34;
  color: #FFF;
}

.header {
  padding: 10px 5%;

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;

    li {
      margin: 0 10px;
    }
  }

  a {
    text-decoration: none;
    color: #FFF;
    position: relative;

    &:hover {
      text-decoration: none;      
    }
  }

  .main-logo {
    font-weight: bold;
  }

  i {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.container {
  max-width: 70rem;
  height: 70vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
}

.typing-container {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  overflow: auto;
  padding: 10px;
  position: relative;
  overflow-y: hidden;
}

.toolbar-container {
  display: flex;
  position: relative;

  .toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 9px;
    padding: 3px 10px;
    margin-bottom: 20px;
    font-size: 1.6rem;
    height: 40px;
  
    .mode-section {
      display: flex;
      align-items: center;
  
      a {
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: filter 0.3s ease, color 0.3s ease;
  
        &:hover {
          filter: brightness(0.8);
        }
  
        &:active {
          color: #496788;
        }
      }
  
      a.active {
        color: #D0D0D0;
      }
  
      .time-selector i {
        margin-right: 5px;
      }
  
      .time-selection {
        margin-right: 10px;
      }
  
      .separator {
        content: "";
        display: inline-block;
        width: 3px;
        border-radius: 9px;
        height: 20px;
        background-color: #FFF;
        margin: 0 10px;
      }
    }
  }

  .countdown {
    position: absolute;
    left: -250px;
    font-size: 1.6rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;

    @media (max-width: 768px) {
      left: -244px;
    }

    @media (max-width: 568px) {
      left: -178px;
    }

    @media (max-width: 480px) {
      left: -89px;
    }
  }
}

.focus-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(10px);
  background-color: black;
  opacity: 0;
  padding: 10px 20px;
  border-radius: 5px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition-delay: 1s;
  pointer-events: none;
  font-size: 1.6rem;
  i {
    margin-right: 10px;
  }
}

.typing-area {
  width: 100%;
  outline: none;
  transition: filter 0.3s ease;
  transition-delay: 0.5s;
  position: relative;
  caret-color: transparent;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 2rem;
  transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out;

  &.unfocused {
    filter: blur(3.5px);
  }

  &::before {
    content: '';
    position: absolute;
    height: clamp(1.6rem, 2vw, 2.4rem);
    left: -2px;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.7);
    animation: caretBlink 1s infinite;
    transition: transform 0.1s ease-out;
    transform: translateX(var(--cursor-translate-x, 0px)) translateY(var(--cursor-translate-y, 5px));
  }

  &:not(.unfocused)::before {
    width: 2px;
  }

  &.typing-in-progress::before {
    animation: none;
  }
}

@keyframes caretBlink {
  0%, 
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.typing-area:not(.unfocused) {
  transition-delay: 0s;
}

.typing-area.unfocused + .focus-message {
  opacity: 1;
  transform: translate(-50%, -50%) translateY(0);
  pointer-events: auto;
}

.typing-area:not(.unfocused) + .focus-message {
  transition-delay: 0s;
}

.start-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin-top: 4rem;
  position: relative;

  &:focus:before {
    content: '';
    position: absolute;
    top: -20px;
    right: -30px;
    left: -30px;
    bottom: -20px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 3px solid rgba(255, 255, 255, 0.05);
    border-radius: 9px;
    z-index: -1;
  }

  i {
    font-size: 1.8rem;
    color: #FFF;
    transition: transform 0.3s ease, filter 0.3s ease;

    &:hover {
      filter: brightness(0.8);
      transform: scale(1.1);
    }
  }

  .tooltip {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFF;
    padding: 10px 15px;
    border-radius: 5px;
    position: absolute;
    bottom: -300%;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, bottom 0.3s ease;
    white-space: nowrap;
    margin-bottom: 10px;
    pointer-events: none;
  }

  &:hover,
  &:focus-within {
    .tooltip {
      opacity: 1;
      transform: translateX(-50%) translateY(0)
    }
  }

  &:focus-within {
    .tooltip {
      bottom: -400%;
    }
  }
}

.shortcut-tip {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 50%;
  top: calc(100% - 10rem);
  transform: translateX(-50%);


  @media (max-width: 600px) {
    top: calc(100% - 15rem);
  }

  .key {
    display: inline-block;
    padding: 5px 10px;
    background-color: #FFF;
    color: #282C34;
    border-radius: 4px;
    box-shadow: 0 2px 3px 4gba(0, 0, 0, 0.1);
  }
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem 5%;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1.4rem;
  margin-bottom: 1rem;

  .footer-links {
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
      text-decoration: none;
      color: #FFF;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      transition: filter 0.5s ease;

      &:hover {
        filter: brightness(0.8);
      }

      i {
        font-size: 1.6rem;
      }
    }
  }

  .name {
    color: #FFF;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    gap: 1rem;

    .footer-links {
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

footer:not(.hidden),
.toolbar:not(.hidden) {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
}

.correct {
  color: #496788;
}

.incorrect {
  color: red;
}