*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #F7F7F7;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; }

ol,
ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

button {
  padding: 10px 15px;
  border: none;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s ease; }
  button:hover {
    cursor: pointer;
    background-color: #45A049; }

textarea {
  resize: vertical; }

body {
  background-color: #282C34;
  color: #FFF; }

.container {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); }

.user-input {
  width: 100%;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.1rem;
  color: #FFF;
  outline: none;
  transition: background-color 0.3s ease;
  font-family: Helvetica, Arial, sans-serif; }

.user-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.1rem; }

.user-input:focus {
  background-color: rgba(255, 255, 255, 0.2); }

.prompt {
  margin-bottom: 15px;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.7); }
